# git config
GIT_REPO_URL=git@git.example.com:user/repo.git
GIT_BRANCH=main

# generate with: openssl rand -hex 32
WEBHOOK_SECRET=paste_your_32_char_long_secret_here
WEBHOOK_PORT=9000

# hugo config (versions: https://github.com/gohugoio/hugo/releases)
HUGO_EXTRA_FLAGS=--minify
HUGO_VERSION=0.159.1

# web server port
HTTP_PORT=8091

# timezone
TZ=Your/Timezone
